# Ambiente da aplicação
FLASK_ENV=development

# PostgreSQL
POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# URL usada pela aplicação Flask
DATABASE_URL=postgresql://ecommerce:ecommerce123@postgres:5432/ecommerce
